input{
  width: 100%;
  max-width: 800px;
  height: 50px;
  font-size: 24px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  border: 0;
}
.container{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  min-height: 350px;
}

.container .row{
  min-height: 40px;
  margin: 10px;
  position: relative;
}
.container .row button{
  height: 40px;
  width: 40px;
}
.container .row .left{
  float: left;
}

.container .row .right{
  float: right;
}
.container .row .img{
  margin: 0 auto;
  width: 250px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -125px;
}
.container .row .img img{
  width: 100%;
}
.container .row.head .img{
  top: -10px;
  z-index: 10;
}
.container .row.hair .img{
  z-index: 12;
}
.container .row.eyes .img{
  top: -80px;
  z-index: 10;
}
.container .row.nose .img{
  top: -125px;
  z-index: 10;
}
.container .row.mouth .img{
  top: -160px;
  z-index: 10;
}